.addCourse >h1{
    color: #EC4213;
    margin-left: 2.5em;

}

.addCourse-heading{
    display: flex;
    padding-left: 4.5em;
    padding-right: 5em;
    justify-content: space-between;
    background: conic-gradient(from 180deg at 120.17% 50%, #EC4213 -1.16deg, #EC8C24 50deg, #EC8222 55deg, #EC761F 105.53deg, #EC691C 160.77deg, #EC5F1A 217.51deg, #EC4213 358.84deg, #EC8C24 406.32deg);
    height: 6em;
    box-shadow: 0px 2px 2px 0px #00000040;
}

.addCourse-heading >h4{
    color: white;
    font-size: 1.7rem;
}