body{
    font-family: Bahnschrift bold condensed;
    
}
.logo-heading{
   width: 100%;
   height: 6rem;
   box-shadow: 0px 0px 2px 0px #00000040;
   padding-left: 2em;
   padding-bottom: 2em;
   background-color: #FFFFFF;

}

.signupPage{
    background-color: #21151505;
}
.logo-heading >h2{
    display: inline-block;
    background: radial-gradient(50% 50% at 50% 50%, #EC8C24 0%, #EC4213 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    margin-left: 0.6em;
    font-size: 2rem;
    position: relative;
    bottom: 0.7em;
}

.signupfield::before{
    content: '';
    position: absolute;
    top: -3.5em;
    left: 15em;
    background-image: url(../assets/studycreekcrop.png);
    background-repeat: no-repeat;
    background-size: 70vw 90vh;
    background-position: left top;
    z-index: -1;
    width: 90%; 
    height: 90%;
    opacity: 0.2;

}

.signupfield{
position: relative;
z-index: 1;
width: 100vw;

}

.inputfield{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.blur{
    opacity: 0.4;
}
.signup-sucess{
    background: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 1px #00000040;
    height: 19em;
    width: 40em;
    top: 0em;
    z-index: 1;
    position:absolute;
    padding-bottom: 2em;
}

.success-text{
    color: rgba(67, 179, 67, 0.868);
    text-align: center;
    font-size: 2.2rem;
}

.signup-sucess >p{
    text-align: center;
    font-size: 1.3rem;
    padding: 0 2em;
    line-height: 25px;
}

.success-button{
    margin-left: 7em;
    margin-top: 0.5em;
    width: 14em;
    background: conic-gradient(from 180deg at 120.17% 50%, #b63613 -1.16deg, #EC8C24 40deg, #EC8222 75deg, #EC761F 105.53deg, #EC691C 160.77deg, #EC5F1A 217.51deg, #EC4213 358.84deg, #EC8C24 406.32deg);
    border: 1px solid white;
    height: 2.5em;
    border-radius: 25px;
    box-shadow: 1px -1px 1px 1px #00000040 inset;
    color: #FFFFFF;
    cursor: pointer;
    font-family:  Bahnschrift;
    font-size: 1.5rem;
    
}

.success-button >span{
    margin-left: 4em;
    font-size: 2rem;
    position: relative;
    top: 0.2em;
}

.input-div{
    width: 40em;
    height: 100%;
    background: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0px 5px 5px 5px #00000040;
    padding-top: 2.5em;
}
.input-div >h2{
    text-align: center;
    margin-top: 0;
    font-size: 2rem;
    color: #EC4213;
}


.input-area{
    display: flex;
    flex-direction: column;
  
  }
  .input-area label {
    margin-left: 6em;
  }
  .input-area label .label-style {
    background: #FFF;
    font-weight: bold;
    padding: 0 0.6em;
    position: relative;
  }
  .input-area input {
    margin-top: -9px;
    display: block;
    margin-bottom: 3em;
    margin-left: 4em;
    width: 20em;
    height: 5rem;
    border: 1px solid black;
    outline: none;
    font-size: 1.3rem;
    font-weight: bolder;
    padding-left: 2em;
    
  }

  .signup-button{
    width: 11em;
    height: 28px;
    margin-top: 0.4em;
    margin-left: 9em;
    margin-bottom: 3em;
    border-radius: 12px;
    background: #EC4213;
    border: none;
    color: #FFFFFF;
  }

  
@media only screen and (min-width: 350px) and (max-width: 600px){

    .input-div{
        width: 35em;
    }

    .signupfield::before{
        top: -6em;
        left: 5em;
        background-size: 60vw 90vh;
        background-position: left top;
        z-index: -1;
        width: 60%; 
        height: 90%;
        opacity: 0.2;
    }

    .signup-sucess >p{
        font-size: 1.4rem;
        padding: 0 2em;
        line-height: 21px;
    }

    .signup-sucess{
        width: 35em;
    }
    
    .success-button{
        margin-left: 7em;
        width: 12em;
    }

    .signup-button{
        width: 10em;
        margin-top: 0em;
        margin-left: 10.5em ;
    }
    
}