html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #fd7e07;
}
body{
  margin: 0
  
}

.frontpage{
  background: radial-gradient(50% 50% at 50% 50%, #EC8C24 0%, #EC4213 100%);
  color: white;
  font-family:Bahnschrift;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}



.frontpage-content{


}

.logo-div{
  margin-left: 8rem;
}


.studentImage{
width: 27em;
margin-top: 2.5em;
}

.frontpage-text{
  margin-top: 1em;
}

.frontpage-text > p{
font-size: 1.4rem;
}
.buttons{
margin: 2em 4em;

}
.start-button{
  font-size: 1.4rem;
  display: block;
  margin-bottom: 1.5em;
  width: 16em;
  font-weight: bolder;
  height: 2.5em;
  background-color: white;
  outline: none;
  border: none;
  font-family: Bahnschrift;
  cursor: pointer;
}
.explore-button{
    font-size: 1.4rem;
    font-weight: bolder;
    display: block;
    margin-bottom: 1.5em;
    width: 16em;
    height: 2.5em;
    background-color: #fd7e07;
    color: white;
    outline: none;
    border: 1px solid white;
    font-family: Bahnschrift;
    cursor: pointer;
  }
